
  <!-- Breadcrumbs-->
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a>Panel</a>
    </li>
    <li class="breadcrumb-item active">Inicio</li>
  </ol>
  <div class="col-12">
    <section class="row">
      
      <div class="col-xs-12 col-sm-12 col-md-12 offset-lg-1 col-lg-11">
        <div class="jumbotron">
          <h1 class="mb-4">      
            <h1 class="site-title text-center">
              <a>  
              <i  class="fa fa-calculator" aria-hidden="true"></i>
              Kardex
            </a>
            <br>
            <small class="text-center ">Management Toll</small>
            </h1>
          </h1>
        </div>
      </div>
      
    </section>
  </div>
